/* FOGLIO DI STILE PER FLUENTIFY */

/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto",sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

.contenuti {
  width: 70%;
  height: 100%;
  margin: 0 25% 0 15%;
  /* border: 2px solid black; */
  padding: 10px;
}

.contenuti::after{
  content: "";
  clear: both;
  display: table;
}

/* ----------------------------------HEADER---------------------------- */

header{
  width: 100%;
  height: 500px;
  /* border: 2px solid black; */
  background-image:url("../img/vecchi.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
}



/*------------- navigatore ------------ */

#navigatore {
  margin: 10px 0 0 50px;
  /* border: 2px solid red; */
  height: 60px;
}

#navigatore::after{
  content: "";
  clear: both;
  display: table;
}

#logo {
  float:left;
  vertical-align: middle;
}

#navigatore ul {
  float: left;
  padding-left: 20px;
  margin-top: 1%;
}

#navigatore li {
  display: inline-block;
  color: white;
  padding: 0px 10px 0px 10px;
  font-size: 11px;
  font-weight: 800;
}

#credeziali {
  /* border: 1px solid pink; */
  float: right;
  padding-top: 15px;
  height: 60px;
}

#credeziali a {
  margin: 0px 10px 0px 10px;
  color: white;
}

#tutor {
  text-decoration: none;
  font-size: 10px;
  color: white;
}

#login {
  border: 1px solid #4783ac;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 10px;

}

/* ----------testo header--------- */

#testoheader {
  /* border: 2px solid white; */
  margin-top: 100px;
  color: white;
}

#testoheader h1 {
  display: block;
  letter-spacing: 2px;
  font-size: 40px;
}

.bottone{
  margin-top: 30px;
}

.bottoneverde {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #7fb802;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: bold;
}

/*--------------------------MAIN---------------------------------- */

main section {
  width: 100%;
  /* height: 200px; */
  border: 2px solid blue;
}


/* --------sezione uno--------- */
#sectionuno {
  background-color: #f9f9f9;
  padding: 20px;
}


#sectionuno .contenutouno {
  font-size: 24px;
  margin-top: 30px;
  margin-left: 50%;
  margin-bottom: 20px;
  transform: translate(-25%, -25%);
  color: rgb(45, 45, 45);
}

#sectionuno .contenutodue {
  font-size: 18px;
  margin-left: 46%;
  transform: translate(-25%, -25%);
  color: rgb(107, 107, 107);
}


/* --------sezione due--------- */


#sectiondue .contenutouno {
  /* debug */
  width: 33.33%;
  height: 100%;
  /* border: 1px solid black; */
  /* background-color: rgb(90, 138, 244); */
  padding: 20px;
    /* debug */
  float: left;
}

#sectiondue .contenutodue {
  /* debug */
  width: 33.33%;
  height: 100%;
  /* border: 1px solid black; */
  /* background-color: rgb(90, 138, 244); */
  /* debug */
  float: left;
}

#sectiondue .contenutotre {
  /* debug */
  width: 33.33%;
  height: 100%;
    /* border: 1px solid black; */
    /* background-color: rgb(90, 138, 244); */
    /* debug */
  float: left;
}

#sectiondue img , #sectiondue h3 , #sectiondue p {
      display:block;
      margin:0px auto;
      text-align:center;
      padding: 10px 0 10px 0;
}

#sectiondue h3 {
font-size: 23px;
color:#7fb802;
}

#sectiondue p {
  font-size: 15px;
  color: #b4b4b4;
  line-height: 25px;
}

#sectiondue .contenutodue img {
  padding: 20px 0 40px 0;
}

#sectiondue .contenutodue p {
  padding-top: 30px;
}

#sectiondue .contenutotre h3 {
  padding: 20px 0 20px 0;
}





/* --------sezione tre--------- */



#sectiontre .contenutouno{
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}

#sectiontre .contenutodue{
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}


/* --------sezione quattro--------- */

#sectionquattro .contenutouno {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}

#sectionquattro .contenutodue {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}




/* --------sezione cinque--------- */
#sectioncinque .contenutouno {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}

#sectioncinque .contenutodue {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}


/* --------sezione sei--------- */
#sectionsei .contenutouno {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}

#sectionsei .contenutodue {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}



/* --------sezione sette--------- */
#sectionsette .contenutouno {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  margin: 0 auto;
  /* debug */
}




/* --------sezione otto--------- */

#sectionotto .contenutouno {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}

#sectionotto .contenutodue {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}



/* --------sezione nove--------- */

#sectionnove .contenutouno {
  /* debug */
  width: 50%;
  height: 20%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  margin: 0 auto;
  margin-bottom: 10px;
    /* debug */
}

#sectionnove .contenutodue {
  /* debug */
  width: 33.33%;
  height: 80%;
  border: 1px solid black;
  background-color: rgb(90, 138, 244);
  /* debug */
  float: left;
}

#sectionnove .contenutotre {
  /* debug */
  width:33.33%;
  height: 80%;
    border: 1px solid black;
    background-color: rgb(90, 138, 244);
    /* debug */
  float: left;
}

#sectionnove .contenutoquattro {
  /* debug */
  width: 33.33%;
  height: 80%;
    border: 1px solid black;
    background-color: rgb(90, 138, 244);
    /* debug */
  float: left;
}





/* ---------------------------FOOTER------------------------------ */

footer {
  width: 100%;
  height: 300px;
  border: 2px solid red;
}

#footersopra {
  /* debug */
  width: 100%;
  height: 25%;
  background-color: #0f335a;
  /* debug */
}

#footersotto {
  /* debug */
  width: 100%;
  height: 75%;
  background-color: #17406b;
  /* debug */
}

#footersopra .contenutouno {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(245, 28, 68);
  /* debug */
  margin: 0 auto;
}


#footersotto .contenutouno {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(244, 63, 96);
  /* debug */
  float: left;
}

#footersotto .contenutodue {
  /* debug */
  width: 50%;
  height: 100%;
  border: 1px solid black;
  background-color: rgb(244, 63, 96);
  /* debug */
  float: left;
}
